SECRET_KEY=tu_secret_key_aqui
# DEBUG= True errores / False sin logs
DEBUG=True

# Base de datos
USE_SQLITE=True
# Supabase — se activa cuando USE_SQLITE=False
DATABASE_URL=postgresql://usuario:password@host:puerto/database

# ------- API KEY DE GROQ ------------
GROQ_API_KEY=tu_api_key_de_groq_aqui

# ---------------- ------------------------------
EMAIL_HOST_USER=tu_correo_de_soporte@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion_aqui

# ------- API OAuth Google -------------
GOOGLE_OAUTH_CLIENT_ID=tu_client_id_de_google_aqui
GOOGLE_OAUTH_CLIENT_SECRET=tu_client_secret_de_google_aqui
