# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Bytecode — evita conflictos en pull/merge del equipo
**/__pycache__/
**/*.pyc
**/*.pyo

# Entorno virtual
.venv/
venv/

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación
dist/
build/