# Core
django==5.2
python-dotenv==1.1.0
djangorestframework==3.17.1
PyJWT==2.12.1

# Base de datos
psycopg[binary]==3.2.10
dj-database-url==2.3.0

# Archivos estáticos (producción)
whitenoise==6.9.0

# Tailwind CSS
django-tailwind==3.8.0
django-browser-reload==1.17.0

# Ahorros
python-dateutil==2.9.0.post0

# Exportación de reportes
openpyxl==3.1.5
reportlab==4.2.5
xhtml2pdf==0.2.17

# Agente Financiero
google-generativeai==0.8.5
groq==0.23.1

# OAuth
django-allauth==65.15.0

# Pruebas E2E
playwright==1.59.0

# Testing
pytest==9.0.3
pytest-django==4.12.0

# =========================================================
# GUIA RAPIDA PARA EJECUTAR EL PROYECTO
# =========================================================

# 1. Clonar el repositorio
# git clone https://github.com/1Zamuken1/GastuDjango.git
# cd GastuDjango

# 2. Tener instalado Python
# python --version

# 3. Crear entorno virtual
# python -m venv .venv

# 4. Activar entorno virtual
# Windows:
# .venv\Scripts\activate

# 5. Instalar dependencias de Django
# pip install -r requirements.txt

# 8. Aplicar migraciones
# python manage.py migrate

# 9. Ejecutar el servidor
# python manage.py runserver

# Luego abrir en el navegador:
# http://127.0.0.1:8000

# =========================================================
# NOTAS
# =========================================================
# - node_modules y .venv no se suben al repositorio porque
#   se generan automáticamente con npm install y venv.
# - Tailwind CSS se gestiona con Node.js y npm.
# - Las dependencias de Python se gestionan con pip.
# =========================================================

