<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Presupuestos</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<!-- Header -->
<header class="p-4 border-b shadow-sm">
<div class="flex items-center justify-between max-w-6xl mx-auto">

<h1 class="text-2xl font-bold text-gray-800">
Gestion de Presupuestos
</h1>

<button
class="px-4 py-2 font-semibold text-white transition bg-purple-600 rounded-lg hover:bg-purple-700"
onclick="abrirModalCrear()">

Crear presupuesto

</button>

</div>
</header>

<!-- Contenido -->
<main class="max-w-6xl p-6 mx-auto mt-8 bg-white shadow rounded-xl">

{% block vista %}
{% endblock %}

<div id="contenedor-modal-crear"></div>

<div id="contenedor-modal-categorias"></div>

{% include "presupuesto/eliminar_presupuesto.html" %}

<div id="contenedor-modal-editar"></div>

</main>

<script>

function abrirModalCrear(){
fetch("{% url 'crear_presupuesto' %}")
.then(response => response.text())
.then(html => {
document.getElementById("contenedor-modal-crear").innerHTML = html
})
}

function cerrarModal(){
document.getElementById("modal").remove()
}

function abrirModalCategorias(){
const modal = document.getElementById("modal_categorias")
modal.classList.remove("hidden")
modal.classList.add("flex")
}

function seleccionarCategoria(id,nombre){

document.getElementById("categoria_id").value = id

const boton = document.querySelector("button[onclick='abrirModalCategorias()']")
boton.innerText = nombre

document.getElementById("modal_categorias").classList.add("hidden")

}

function abrirModalEliminar(id){

const modal = document.getElementById("modalEliminar")

modal.classList.remove("hidden")
modal.classList.add("flex")

const confirmar = document.getElementById("confirmarEliminar")

confirmar.href = "/presupuesto/eliminar/" + id + "/"

}

function cerrarModalEliminar(){
document.getElementById("modalEliminar").classList.add("hidden")
}

function abrirModalEditar(id){
fetch("/presupuesto/editar/" + id + "/")
.then(response => response.text())
.then(html => {
document.getElementById("contenedor-modal-editar").innerHTML = html
})
}

</script>

</body>
</html>