{% extends "base_app.html" %}
{% load static %}
{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'css/presupuesto.css' %}">
{% endblock %}
{% block title %}Presupuestos — GastuApp{% endblock %}
{% block page_title %}Presupuestos{% endblock %}
{% block page_subtitle %}Controla tus límites de gasto{% endblock %}

{% block nav_presupuestos %}active{% endblock %}

{% block content %}
  
  {% block presupuestos_content %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% block presupuestos_scripts %}{% endblock %}
{% endblock %}