{% extends "base_app.html" %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/programaciones.css' %}">
{% endblock %}
{% block title %}Programaciones — GastuApp{% endblock %}
{% block page_title %}Programaciones{% endblock %}
{% block page_subtitle %}Gestiona tus ingresos y gastos recurrentes{% endblock %}

{% block nav_programaciones %}active{% endblock %}

{% block content %}
    
  {% block programaciones_content %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% block programaciones_scripts %}{% endblock %}
{% endblock %}